.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#calendar {
  background-color: #282c35;
  overflow: hidden;
  flex-direction: column;
  align-items: stretch;
}

#calendar > table {
  position: absolute;
}
#calendar-events-container {
  position: absolute;
  top: 0px;
  left: 5.1%;
}
.calendar-section {
  border-top: 5px whitesmoke solid;
}
.calendar-section-label {
  width: 5%;
  color: whitesmoke;
  border-right: 1px whitesmoke solid;
  vertical-align: baseline;
  overflow: visible;
}
.calendar-section-label > span {
  vertical-align: text-top;
  text-align: right;
  padding: 0;
}
.calendar-section-label .last > span {
  align-self: flex-end;
  text-align: right;
  padding: 0;
}

.calendar-section-slot {
  border-bottom: 1px whitesmoke solid;
}

.event-label {
  margin-top: 0px;
}
.event-label > p {
  margin-top: 0px;
  font-size: small;
  text-align: center;
}
.event {
  position: absolute;
  border: 1px whitesmoke solid;
}
